@charset "utf-8";
/* CSS Document */

body {background:url(../images/bg.png);
filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
-moz-background-size:100% 100%;
    background-size:100% 100%;
	font-family:"微软雅黑"; color:#666666; font-weight:bold;
	}
a,a:hover,ul, li{ text-decoration:none; list-style:none;}
img{ border:none;}


.bg{ margin:70px 0 0 0; width:930px; height:520px;}
.logo{ width:709px; height:74px; float:left;}

.content{ width:921px; height:402px; background:url(main.png) no-repeat;}
.main{ padding:100px 0 0 430px; width:380px; height:250px;}
.textline{ height:25px; width:200px; line-height:25px;}
.textline1{ height:25px; width:100px; line-height:25px;}

.dl{  text-align: center; font-size: 16px;width: 100px; height:30px;color: white; background-color:#4e90fe; border-radius: 15px;  }
.bq{ height:100px; line-height:100px; color:#fff;}
