*{ padding:0; margin:0; }
html,body { height:100%; background:#edf5fc; font-family:"\5b8b\4f53"; scrollbar-3dlight-color: #C5D9E8;scrollbar-arrow-color: #000000;scrollbar-darkshadow-color: #a9ceef;scrollbar-face-color: #d0e6f7;scrollbar-highlight-color: #a9ceef;scrollbar-shadow-color: #96bede;}

.btn_search1 { width:78px; height:22px; background:url(../images/search_btn1.gif) no-repeat; border:0; cursor:pointer;}
.btn_search2 { width:78px; height:26px; background:url(../images/search_btn2.gif) no-repeat; border:0; cursor:pointer;}

.input1 { width:97%; height:17px; border:1px #9f9f9f solid; color:#333; line-height:16px; padding:1px;}
.input2 { width:97%; height:22px; border:1px #9f9f9f solid; color:#333; line-height:22px; padding:1px;}

.link1:link,.link1:visited { color:#15529e; text-decoration:none;}
.link1:hover { color:#c91111 ; text-decoration:none;}

.link2:link,.link2:visited { color:#333333; text-decoration:none;}
.link2:hover { color:#c91111 ; text-decoration:none;}

.TextTitle { color:#15529e; font-size:14px; font-weight:bold; padding:0 0 0 2px;}
.TextTime { color:#15529e; font-size:13px; font-weight:bold; padding:0 0 0 2px;}
.TextContent { color:#333333; font-size:12px; line-height:18px; padding:0 0 0 2px;}

.TextFoot { color:#000000; font-size:12px; text-align:center}